---
clouds:
  openstack:
    auth:
      auth_url: https://keystone.services.a.regiocloud.tech
      application_credential_id: "ID"
      application_credential_secret: "SECRET"
    region_name: "RegionA"
    interface: "public"
    identity_api_version: 3
    auth_type: "v3applicationcredential"
